<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

	    	<!--[if lt IE 9]>
	    	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    	<![endif]-->
	    	<script>
	    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	    	ga('create', 'UA-60584573-1', 'auto');
	    	ga('send', 'pageview');
	    	</script>
	    	<title>Keep going</title>
	    </head>

	    <body>
	    	<header>
	    		<div class="inner">
	    			<h1>Liucg</h1>
	    			<h2>嗯嗯..........</h2>
	    			<a href="https://github.com/liucg1990" class="button"><small>Follow me on</small> GitHub</a>
	    		</div>
	    	</header>

	    	<div id="content-wrapper">
	    		<div class="inner clearfix">
	    			<section id="main-content">
	    				{{ content }}
	    			</section>
	    			
	    		</div>

	    		
	    	</div>
	    	<a data-type="0" biz-itemid="null" data-tmpl="470x190" data-tmplid="635" data-rd="2" data-style="2" data-border="1" href="http://redirect.simba.taobao.com/rd?w=unionnojs&f=http%3A%2F%2Fai.taobao.com%2Fauction%2Fedetail.htm%3Fe%3DauKzJB13bZ66k0Or%252B%252BH4tFP5%252FWqcjpRgENbBVuy6U6CLltG5xFicOdXrTUTgh9sMDPIwxrc30rgx5xFFx04TdXG5sQ8XaosYIy3wLQxYB14ulwq0QAfhG1Rmtaud%252B0v%252BlDNyztDpNgM%252FP0YVBl8ppA%253D%253D%26ptype%3D100010%26from%3Dbasic&k=5ccfdb950740ca16&c=un&b=alimm_0&p=mm_109390368_9086529_31236185">http://redirect.simba.taobao.com/rd?w=unionnojs&f=http%3A%2F%2Fai.taobao.com%2Fauction%2Fedetail.htm%3Fe%3DauKzJB13bZ66k0Or%252B%252BH4tFP5%252FWqcjpRgENbBVuy6U6CLltG5xFicOdXrTUTgh9sMDPIwxrc30rgx5xFFx04TdXG5sQ8XaosYIy3wLQxYB14ulwq0QAfhG1Rmtaud%252B0v%252BlDNyztDpNgM%252FP0YVBl8ppA%253D%253D%26ptype%3D100010%26from%3Dbasic&k=5ccfdb950740ca16&c=un&b=alimm_0&p=mm_109390368_9086529_31236185</a>
	    </body>
	    </html>
